
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #305dc5;
    color: #fff;
    text-align: center;
    padding: 00px ;
    padding-top: 10px;
    font-size: 40px;
    height: 60px;
}

.education {
    margin: 20px;
    
   
}

.education-item {
    float: left;
    width: 33.33%;
    box-sizing: border-box; 
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #8ac71a;
    height: 50px;
    
   
}

.education-item h2 {
    margin-top: -9px;
}
nav{
    padding-left: 10px;
    padding-top: 10px;
    border:2px wheat solid;
    background-color: wheat;
}
